/** @format */

.sidebar-des {
  position: fixed;
  display: flex;
  flex-direction: column;
  width: 220px;
  font-size: 0.7em;
  height: 100%;
  background-color: white;
  border-bottom: 1px solid rgba(255, 0, 0, 0.5);
}

/* .sidebar-item {
    display: flex;
    flex-direction: column;
  } */

.generate-invoice {
  background-color: green;
  border-radius: 60px;
  color: white;
  text-align: center;
  margin: 2rem 2rem;
  padding: 0.5rem 1rem;
}

.sidebar-item-content {
  margin: 0 1rem 2rem 2rem;
}

.sidebar-share {
  margin-bottom: 0.7rem;
}

.sidebar-share-link {
  display: flex;
  flex-direction: row;
  margin-bottom: 1rem;
}

.sidebar-share-link-first {
  margin-right: 1rem;
  color: rgb(10, 10, 10);
  font-size: 1.2em;
}

.sidebar-mob {
  display: none;
}

@media screen and (max-width: 1024px) {
  .sidebar-des {
    display: none;
  }

  .sidebar-mob {
    position: fixed;
    display: flex;
    flex-direction: row;
    font-size: 0.7em;
    height: 100%;
    z-index: 10;
  }

  .sidebar-mob-item-content {
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 300px;
    height: 100%;
  }
}
